/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/dnaprs/'
}

validation.defaultIgnoreParams = [
    'genomes',
    'modules_testdata_base_path',
    'pipelines_testdata_base_path',
]

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
