process {
    executor = 'pbspro'

    withName: 'VALIDATE_MANIFESTS|HARMONISE_GWAS|BUILD_CT_WEIGHTS|COMBINE_SCORES|PHENOTYPE_ASSOCIATION' {
        module = 'GCC/13.2.0:R/4.4.1'
    }

    withName: 'PREPARE_TARGET|PLINK_REFERENCE_FREQ|PLINK_CLUMP' {
        module = 'GCC/13.2.0:PLINK/2.0.0-a.6.12'
    }

    withName: 'PLINK_SCORE' {
        module = 'GCC/13.2.0:R/4.4.1:PLINK/2.0.0-a.6.12'
    }

    withName: 'SBAYESRC_TIDY|SBAYESRC_IMPUTE|SBAYESRC_MODEL' {
        module = 'GCC/13.2.0:R/4.4.1'
    }

    withName: 'SBAYESRC_SCORE' {
        module = 'GCC/13.2.0:R/4.4.1:PLINK/2.0.0-a.6.12'
    }

    withName: 'RENDER_REPORT' {
        module = 'GCC/13.2.0:R/4.4.1:quarto/1.7.32-x64'
    }
}

docker.enabled      = false
apptainer.enabled   = false
singularity.enabled = false
conda.enabled       = false

env.R_LIBS_USER = env('DNAPRS_R_LIBS_USER')
