process {
    executor = 'local'

    cpus   = 1
    memory = 2.GB
    time   = 1.h

    errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'terminate' }
    maxRetries    = 2

    resourceLimits = [
        cpus: 64,
        memory: 6.TB,
        time: 14.d,
    ]

    withLabel: process_low {
        cpus   = 1
        memory = 4.GB
        time   = 2.h
    }

    withLabel: process_medium {
        cpus   = 4
        memory = 32.GB
        time   = 12.h
    }

    withLabel: process_high {
        cpus   = 16
        memory = 128.GB
        time   = 48.h
    }

    withLabel: process_sbayesrc {
        cpus     = 64
        memory   = 512.GB
        time     = 7.d
        maxForks = 1
    }

    withLabel: process_report {
        cpus   = 2
        memory = 16.GB
        time   = 4.h
    }
}
