params {
    run_name         = 'test_full'
    input            = "${projectDir}/tests/data/target"
    gwas             = "${projectDir}/tests/data/gwas"
    references       = "${projectDir}/tests/data/reference"
    reference_mode   = 'local'
    phenotype        = "${projectDir}/tests/data/phenotype.tsv"
    outcome          = 'MHC_TOTAL'
    covariates       = 'Age,Sex'
    model_type       = 'gaussian'
    participant_id   = 'IID'
    methods          = 'plink_ct,sbayesrc'
    genome           = 'GRCh37'
    seed             = 20260829
    report_enabled   = true
    target_imputation = true
}
