params {
    run_name           = 'test'
    input              = "${projectDir}/tests/data/target_manifest.tsv"
    gwas_manifest      = "${projectDir}/tests/data/gwas_manifest.tsv"
    reference_manifest = "${projectDir}/tests/data/reference_manifest.tsv"
    manifest_base      = "${projectDir}"
    phenotype_file     = "${projectDir}/tests/data/phenotype.tsv"
    phenotype_models   = "${projectDir}/tests/data/phenotype_models.tsv"
    methods            = 'plink_ct'
    genome_build       = 'GRCh37'
    seed               = 20260829
    report_enabled     = true
}

process {
    stageInMode = 'copy'
    cpus   = 1
    memory = 2.GB
    time   = 10.m

    withLabel: 'process_low|process_medium|process_high|process_sbayesrc|process_report' {
        cpus     = 1
        memory   = 2.GB
        time     = 10.m
        maxForks = 2
    }
}

timeline.enabled = false
report.enabled   = false
trace.enabled    = false
dag.enabled      = false

env {
    LC_ALL = 'C'
    LANG   = 'C'
}
