params {
    run_name           = 'test_full'
    input              = "${projectDir}/tests/data/target_manifest.tsv"
    gwas_manifest      = "${projectDir}/tests/data/gwas_manifest.tsv"
    reference_manifest = "${projectDir}/tests/data/reference_manifest.tsv"
    manifest_base      = "${projectDir}"
    phenotype_file     = "${projectDir}/tests/data/phenotype.tsv"
    phenotype_models   = "${projectDir}/tests/data/phenotype_models.tsv"
    methods            = 'plink_ct,sbayesrc'
    genome_build       = 'GRCh37'
    seed               = 20260829
    report_enabled     = true
}
